resources/
resources/python_tutorial.ipynb
1-2/wines_duplicates2.csv
1-2/Workbook 2 - ML/01_Univariate_LR.ipynb
1-2/Workbook 2 - ML/house_prices.csv
1-2/wines_duplicates.csv
1-3/day.csv
1-3/hour.csv
1-3/Readme.txt
resources/DateTime CapitalBikeShare.ipynb
resources/scribblepad.ipynb
resources/Time_Series_Analysis_pouyaardehkhani.ipynb
resources/Data/co2_mm_mlo.csv
resources/Data/starbucks.csv
