resources/python_tutorial.ipynb
1-2/wines_duplicates2.csv
1-2/Workbook 2 - ML/01_Univariate_LR.ipynb
.gitignore
1-2/Workbook 2 - ML/house_prices.csv
1-2/wines_duplicates.csv
1-3/day.csv
.gitignore
1-3/hour.csv
.gitignore
.gitignore
1-3/Readme.txt
